.rishav-card{
    background-color: rgb(194, 190, 190);
    width: 28%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    margin-left: rem;
}
.rishav-card img {
    width: 100%;
}
.rishav-card:hover{
    box-shadow: 0 5px 10px rgb(71, 69, 69);
}